body {
  font-family: "Epilogue", sans-serif !important;
  background-color: #f0f0f5 !important;
}

.detect-offline-container {
  position: fixed;
  bottom: 2%;
  left: 0;
  z-index: 1000;
  font-size: 16px;
  max-width: 500px;
  background-color: #4640de;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 8px;
  text-align: center;
  padding: 16px 0;
}
